<div class="container d-flex justify-content-center align-items-center w-100 h-75">
    <mat-card>
       <!-- <h6 class="m-3">User profile</h6> -->
        <mat-card-header>
            <mat-card-title class="mb-3">Change Password</mat-card-title>
        </mat-card-header>
        <mat-card-content class="m-2 d-flex align-items-center justify-content-center">
            <form class="p-4 w-100" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="d-flex mb-3">
                    <!-- <label class="form-label" class="field-name">Old Password:</label> -->
                    <mat-form-field appearance="outline" class="w-100 mb-2">
                        <mat-label>Enter your old password</mat-label>
                        <input matInput [type]="hideOldPwd ? 'password' : 'text'" formControlName="oldPassword" required/>
                        <button class="pwd-button"
                          mat-icon-button
                          matSuffix
                          (click)="clickOldPwd($event)"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hideOldPwd"
                        >
                          <mat-icon>{{hideOldPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
    
                        <mat-error *ngIf="!getControls['oldPassword'].valid && getControls['oldPassword']!.errors">
                            <div  [ngClass]="['error-message']" *ngIf="getControls['oldPassword']!.errors['required']">Old Password is required</div>
                            <div  [ngClass]="['error-message']" *ngIf="getControls['oldPassword']!.errors['pattern']">Invalid password</div>
                        </mat-error>
                    </mat-form-field>
                    
                </div>

                <div class="d-flex mb-3">
                    <!-- <label class="form-label" class="field-name">New Password:</label> -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter your new password</mat-label>
                        <input matInput [type]="hidePwd ? 'password' : 'text'" formControlName="newPassword" required/>
                        <button class="pwd-button"
                          mat-icon-button
                          matSuffix
                          (click)="clickPwd($event)"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hidePwd"
                        >
                          <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
    
                        <mat-error *ngIf="!getControls['newPassword'].valid && getControls['newPassword']!.errors">
                            <div  [ngClass]="['error-message']" *ngIf="getControls['newPassword']!.errors['required']">Password is required</div>
                            <div  [ngClass]="['error-message']" *ngIf="getControls['newPassword']!.errors['pattern']">Invalid password</div>
                        </mat-error>
                      </mat-form-field>
                    
                </div>


                <div class="d-flex mb-5">
                    <!-- <label class="form-label" class="field-name">Confirm New Password:</label> -->
                    <mat-form-field appearance="outline" class="w-100 mb-2">
                        <mat-label>Re-enter your new password</mat-label>
                        <input matInput [type]="hideConfirmPwd ? 'password' : 'text'" formControlName="cnfNewPassword" required/>
                        <button class="pwd-button"
                          mat-icon-button
                          matSuffix
                          (click)="clickCnfPwd($event)"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hideConfirmPwd"
                        >
                          <mat-icon>{{hideConfirmPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
    
                        <mat-error *ngIf="!getControls['cnfNewPassword'].valid && getControls['cnfNewPassword']!.errors">
                            <div  [ngClass]="['error-message']" *ngIf="getControls['cnfNewPassword']!.errors['required']">Confirm Password is required</div>
                            <div  [ngClass]="['error-message']" *ngIf="getControls['cnfNewPassword']!.errors['pattern']">Invalid password</div>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="text-success">{{userMessage}}</div>
                <div class="text-danger">{{errorMessage}}</div>
     
                <div class="d-flex justify-content-end">
                    <button type=submit class="custom-button btn">Change</button>
                </div>
                </form>
        </mat-card-content>
    </mat-card>
</div>

