.pwd-button
{
    background-color:transparent;
    border:none;
    outline:none;
}

.custom-button
{
    background-color:#005cbb !important;
    color:white;
}

.error-message
{
    margin-top:-15px;
}

/* mat-card
{
    background-color:#d7e3ff;
    color:black;
} */