<div style="height:100vh" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="custom-header">
      <button mat-icon-button (click)="snav.toggle()" class="sidenav-button"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Item Management Portal</h1>
    </mat-toolbar>

    

    <mat-sidenav-container class="example-sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list class="h-100">

            <div mat-list-item class="list-item">Add request</div>
            <div mat-list-item class="list-item">Manage request</div>

        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="">
        hello everyone
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
