<div class="container d-flex justify-content-center align-items-center w-100 h-75">
    <mat-card class="w-50 d-flex align-items-center bg-white">
       <h5 class="mb-3">Enter your registered email</h5>
        <mat-card-content class="w-100">
            <form class="text-center" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="w-100 mb-2">
                    <mat-label>Email</mat-label>
                    <input matInput [type]="'email'" formControlName="email" required/>

                    <mat-error *ngIf="!getEmail!.valid && getEmail!.errors">                 
                        <div [ngClass]="['error-message']" *ngIf="getEmail!.errors['required']">Email is required</div>
                        <div [ngClass]="['error-message']" *ngIf="getEmail!.errors['email']">Invalid email</div>
                    </mat-error>
                </mat-form-field>

                  <div class="text-danger">{{errorMessage}}</div>
                  <div class="text-success">{{userMessage}}</div>
                  <button type=submit class="mt-4 btn custom-button">Send link</button>                            
            </form>
           
        </mat-card-content>
    </mat-card>
</div>
